.group {
    max-width: 45rem;
    padding: 3rem 2rem;
    margin: 0 auto;

    .thumbnailContainer {
        position: relative;

        img {
            border-radius: 1rem;
        }


        button {
            width: 3rem;
            height: 3rem;
            border-radius: 0.75rem;
            border: 0;
            position: absolute;
            z-index: 5;
            font-size: 0;

            transition: filter 0.2s;

            &:hover {
                filter: brightness(0.9)
            }
        }
    }

    header {
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--gray-100);

        h1 {
            margin-top: 2rem;
            margin-bottom: 1.5rem;
        }

        span {
            display: inline-block;
            font-size: 0.875rem;

            &+span {
                margin-left: 1rem;
                padding-left: 1rem;
                position: relative;

                &::before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    border-radius: 2px;
                    background: #DDD;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    table {
        width: 100%;

        th,
        td {
            padding: 0.75rem 1rem;
            border-bottom: 1px solid var(--gray-100);
        }

        th {
            color: var(--gray-200);
            text-transform: uppercase;
            font: 500 0.75rem Lexend, sans-serif;
            text-align: left;
        }

        td {
            font-size: 0.875rem;

            img {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 0.5rem;
            }

            a {
                color: var(--gray-800);
                font-family: Lexend, sans-serif;
                font-weight: 600;
                text-decoration: none;
                line-height: 1.4rem;
                font-size: 1rem;

                &:hover {
                    text-decoration: underline;
                }
            }

            button {
                width: 2rem;
                height: 2rem;
                background: var(--white);
                border: 1px solid var(--gray-100);
                border-radius: 0.5rem;
                font-size: 0;

                transition: filter 0.2s;

                img {
                    width: 1.25rem;
                    height: 1.25rem;
                }

                &:hover {
                    filter: brightness(0.95);

                }
            }
        }
    }




    .description {
        margin-top: 2rem;
        line-height: 1.675rem;
        color: var(--gray-800);

        p {
            margin: 1.5rem 0;
        }
    }
}